SUBSYSTEM=="module", DEVPATH=="/module/thunderbolt_icm", TAG+="systemd", ENV{SYSTEMD_WANTS}+="thunderbolt.service"
SUBSYSTEM=="net", SUBSYSTEMS=="pci", DRIVERS=="thunderbolt_icm", ACTION=="add", NAME="/%k"


